@import '../../components/utility/variables.css';

.about-container {
  padding: 40px 20px;
  text-align: justify;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}